@charset "UTF-8";

#wrap {
    position: relative;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

.bold {
    font-weight: bold;
}

.service_area {
    position: absolute;
    top: 10px;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.service_area a {
    font-size: 12px;
}

.service_area a:first-child span {
    padding-right: 8px;
    border-right: 2px solid #ddd;
}

.service_area a:nth-child(2), .service_area a:last-child {
    color: #aaa;
    font-weight: bold;
    padding-left: 8px;
}

.logo_area {
    max-width: 1190px;
    height: 55px;
    margin: 0 auto 50px;
}

.logo {
    float: left;
    width: 200px;
    height: 100%;
    background: url(/NAVER_files/logo.png) center center no-repeat;
    background-size: cover;
}

.searchbox {
    float: left;
    margin-left: 30px;
}

.searchbox input {
    float: left;
    width: 530px;
    height: 50px;
    padding: 0;
    border: 2px solid #00bb00;
}

.searchbox button {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    box-sizing: content-box;
    margin-left: -1px;
}

.searchbox button::after {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    right: -2px;
    width: 54px;
    height: 54px;
    background: url(/NAVER_files/searchbutton.PNG) center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* 네비게이션 바 */
.nav_box {
    clear: both;
    width: 100%;
    height: 50px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.nav_wrap {
    max-width: 1190px;
    margin: 0 auto;
}

.nav_wrap a:first-child nav {
    margin: 0 5px 0 0;
}

nav {
    float: left;
    width: fit-content;
    line-height: 50px;
    font-weight: bold;
    margin: 0 10px;
}

.nav_wrap a:nth-child(17) nav {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
}

.greentext {
    color: #00bb00;
}

.weather_nav {
    float: right;
    width: 240px;
    height: 40px;
    padding: 5px 0;
    margin: 0;
}

/* 콘텐츠 영역 */
#content_wrap {
    max-width: 1190px;
    padding-top: 20px;
    margin: 0 auto;
}

/* section 영역 */
section {
    float: left;
}

.ad_main {
    width: 750px;
    height: 145px;
    margin-bottom: 10px;
}

.ad_main img {
    width: 100%;
    height: 100%;
}

/* 뉴스 */
.issue_box {
    width: 748px;
    height: 16px;
    border: 1px solid #ddd;
    background: #bbddff11;
    padding: 17px 0;
    text-align: left;
}

.issue_box span {
    font-size: 14px;    
}

.issue_area {
    float: left;
}

.issue_area a:first-child span {
    font-weight: bold;
    margin-left: 15px;
}

.direct_area {
    float: right;
    margin-right: 15px;
    font-weight: bold;
}

.direct_area a span {
    margin-right: 3px;
}

.bluetext {
    position: relative;
    color: #0044ff;
    margin-right: 12px !important;
}

.bluetext::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 8px;
    right: -12px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.newsstand_box {
    width: 750px;
    height: 15px;
    padding: 17.5px 0;
}

.newsstand {
    float: left;
}

.newsstand li {
    display: inline-block;
    font-size: 15px;
}

.newsstand li span {
    font-size: 16px;
    font-weight: 900;
    color: #777;
}

.newsstand li:nth-child(3) {
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.subscribe_news {
    position: relative;
    font-size: 14px;
    color: #777;
    cursor: pointer;
}

.subscribe_news::after {
    position: absolute;
    top: 7px;
    right: -10px;
    display: block;
    content: "";
    border: 2px solid #ccc;
    border-radius: 50%;
}

.liststyle {
    float: right;
}

.liststyle li {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.liststyle li:nth-child(2) {
    color: #0044ff;
}

.allcompany {
    position: relative;
    width: 748px;
    height: 283px;
    border: 1px solid #ddd;
}

.allcompany>a>div {
    float: left;
    width: 123.6px;
    height: 20px;
    padding: 25px 0;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.leftbtn_big, .rightbtn_big {
    position: absolute;
    top: 120px;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 !important;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.leftbtn_big {
    left: -26px;
}

.rightbtn_big {
    right: -17px;
}

.newscompany6, .newscompany12, .newscompany18, .newscompany24 {
    border-right: 0 !important;
}

.allcompany>a>div>img {
    width: 51.5px;
    height: 20px;
}

/* 오늘 읽을만한 글 */
.todaypost {
    width: 750px;
    height: 16px;
    padding: 17px 0;
    margin-top: 20px;
}

.left_area {
    float: left;
    width: fit-content;
    height: fit-content;
}

.right_area {
    float: right;
    width: fit-content;
    height: fit-content;
}

.left_area span:first-child {
    float: left;
}

.left_area span:nth-child(2) {
    float: left;
    font-size: 14px;
    color: #555;
    margin-left: 10px;
}

.right_area>a>span {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-left: 5px;
}

.right_area span:nth-child(2) {
    position: relative;
    float: right;
    height: 16px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    border-right: 2px solid #ddd;
}

.right_area span:nth-child(2) span {
    margin-left: 5px;
    color: #777;
    font-weight: normal;
}

.subject {
    position: relative;
    width: 820px;
    height: 50px;
}

.subject>div {
    float: left;
    width: 101.375px;
    height: 16px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 0;
    border: 1px solid #ddd;
    border-right: none;
}

.subject>div:nth-child(8) {
    color: #fff;
    background: #00aa44;
    padding: 17px 0;
    border: none;
}

.subject>div:last-child {
    border-right: 1px solid #ddd;
}

.leftbtn_small, .rightbtn_small {
    position: absolute;
    top: 9px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.leftbtn_small {
    left: -17px;
}

.rightbtn_small {
    right: -17px;
}

.post {
    width: 820px;
    height: fit-content;
    text-align: left;
}

.post_health {
    width: 790px;
    height: 114px;
    padding-top: 20px;
}

.post_health:last-child {
    padding-bottom: 20px;
}

.post_health img {
    float: left;
    width: 170px;
    height: 100%;
}

.explanation {
    float: left;
    width: 570px;
    margin-left: 25px;
}

.explanation p {
    font-size: 14px;
    margin: 5px 0;
}

.explanation p:first-child {
    font-weight: bold;
}

.explanation:hover p:nth-child(2) {
    text-decoration: underline;
}

.explanation p:nth-child(3) {
    line-height: 20px;
}

.articlename {
    position: relative;
    color: #444;
    font-size: 12px;
}

.articlename::after {
    position: absolute;
    content: "";
    display: block;
    top: 8px;
    right: -7px;
    border: 1px solid #444;
    border-radius: 50%;
}

.postdate {
    color: #777;
    margin-left: 8px;
    font-size: 12px;
}

.post_health_ho1, .post_health_ho2 {
    width: 820px;
    height: 202px;
    padding: 20px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-top: 20px;
}

.post_health_ho2 {
    border-bottom: 0;
}

.health_videolist li {
    float: left;
}

.health_videolist li+li {
    margin-left: 20px;
}

.health_videolist li:hover p {
    text-decoration: underline;
}

.thumbnail_wrap {
    position: relative;
    width: 260px;
    height: 130px;
}

.thumbnail_wrap img:first-child {
    width: 100%;
    height: 100%;
}

.thumbnail_wrap img:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.thumbnail_wrap span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
}

.health_videolist li p {
    width: 260px;
    line-height: 20px;
    font-size: 14px;
    padding: 8px 0;
}

.morebtn_area {
    position: relative;
    width: 820px;
    padding-top: 20px;
    margin-bottom: 100px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.morebtn_wrap {
    position: absolute;
    top: 5px;
    left: 355px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.morebtn {
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-weight: bold;
    color: #888;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.morebtn_wrap span {
    display: inline-block;
    margin-top: 10px;
    color: #555;
}

/* aside 영역 */
aside {
    float: left;
    margin-left: 30px;
}

.loginbox {
    width: 298px;
    height: 109px;
    background-color: #bbddff11;
    padding: 17px 20px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.loginbox p {
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-align: left;
}

.loginbtn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #00cc66;
    margin-bottom: 15px;
}

.loginbtn span {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.loginbtn span:first-child {
    font-size: 20px;
}

.find_area {
    text-align: left;
    padding: 0 5px;
}

.find_area a span {
    font-size: 13px;
    color: #444;
}

.find_area a span:hover {
    text-decoration: underline;
}

.find_area a:first-child {
    position: relative;
    margin-right: 8px;
}

.find_area a:first-child::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    right: -4px;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.find_area a:nth-child(3) span {
    float: right;
}
