@charset "UTF-8";

#wrap {
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

.bold {
    color: #000 !important;
    font-weight: bold;
}

.service_area {
    position: absolute;
    top: -40px;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.service_area a {
    font-size: 12px;
}

.service_area a:first-child span {
    padding-right: 8px;
    border-right: 2px solid #ddd;
}

.service_area a:nth-child(2),
.service_area a:last-child {
    color: #aaa;
    font-weight: bold;
    padding-left: 8px;
}

.logo_area {
    position: relative;
    width: 1190px;
    height: 55px;
    margin: 0 auto 50px;
}

.logo {
    float: left;
    width: 200px;
    height: 100%;
    background: url(/NAVER_files/logo.png) center center no-repeat;
    background-size: cover;
}

.searchbox {
    float: left;
    margin-left: 30px;
}

.searchbox input {
    float: left;
    width: 530px;
    height: 50px;
    padding: 0;
    border: 2px solid #00bb00;
}

.searchbox button {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    box-sizing: content-box;
    margin-left: -1px;
}

.searchbox button::after {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    right: -2px;
    width: 54px;
    height: 54px;
    background: url(/NAVER_files/searchbutton.PNG) center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* 네비게이션 바 */
.nav_box {
    width: 100%;
    height: 50px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.nav_wrap {
    width: 1190px;
    margin: 0 auto;
}

.nav_wrap a:first-child nav {
    margin: 0 5px 0 0;
}

nav {
    float: left;
    width: fit-content;
    line-height: 50px;
    font-weight: bold;
    margin: 0 10px;
}

.nav_wrap a:nth-child(17) nav {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
}

.greentext {
    color: #00bb00;
    font-weight: bold;
}

.weather_nav {
    float: right;
    width: 240px;
    height: 40px;
    padding: 5px 0;
    margin: 0;
}

/* 콘텐츠 영역 */
#content_wrap {
    width: 1190px;
    height: 2658px;
    padding-top: 20px;
    margin: 0 auto;
}

/* section 영역 */
section {
    float: left;
}

.ad_main {
    width: 750px;
    height: 145px;
    margin-bottom: 10px;
}

.ad_main img {
    width: 100%;
    height: 100%;
}

/* 뉴스 */
.issue_box {
    width: 748px;
    height: 16px;
    border: 1px solid #ddd;
    background: #bbddff11;
    padding: 17px 0;
    text-align: left;
}

.issue_box span {
    font-size: 14px;    
}

.issue_area {
    float: left;
}

.issue_area a:first-child span {
    font-weight: bold;
    margin-left: 15px;
}

.direct_area {
    float: right;
    margin-right: 15px;
    font-weight: bold;
}

.direct_area a span {
    margin-right: 3px;
}

.bluetext {
    position: relative;
    color: #0044ff;
    margin-right: 12px !important;
}

.bluetext::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 8px;
    right: -12px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.newsstand_box {
    width: 750px;
    height: 15px;
    padding: 17.5px 0;
}

.newsstand {
    float: left;
}

.newsstand li {
    display: inline-block;
    font-size: 15px;
}

.newsstand li span {
    font-size: 16px;
    font-weight: 900;
    color: #777;
}

.newsstand li:nth-child(3) {
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.subscribe_news {
    position: relative;
    font-size: 14px;
    color: #777;
    cursor: pointer;
}

.subscribe_news::after {
    position: absolute;
    top: 7px;
    right: -10px;
    display: block;
    content: "";
    border: 2px solid #ccc;
    border-radius: 50%;
}

.liststyle {
    float: right;
}

.liststyle li {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.liststyle li:nth-child(2) {
    color: #0044ff;
}

.allcompany {
    position: relative;
    width: 748px;
    height: 283px;
    border: 1px solid #ddd;
}

.allcompany>a>div {
    float: left;
    width: 123.6px;
    height: 20px;
    padding: 25px 0;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.leftbtn_big,
.rightbtn_big {
    position: absolute;
    top: 120px;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 !important;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.leftbtn_big {
    left: -26px;
}

.rightbtn_big {
    right: -17px;
}

.newscompany6,
.newscompany12,
.newscompany18,
.newscompany24 {
    border-right: 0 !important;
}

.allcompany>a>div>img {
    width: 51.5px;
    height: 20px;
}

/* 오늘 읽을만한 글 */
.todaypost {
    width: 750px;
    height: 16px;
    padding: 17px 0;
    margin-top: 20px;
}

.left_area {
    float: left;
    width: fit-content;
    height: fit-content;
}

.right_area {
    float: right;
    width: fit-content;
    height: fit-content;
}

.left_area span:first-child {
    float: left;
}

.left_area span:nth-child(2) {
    float: left;
    font-size: 14px;
    color: #555;
    margin-left: 10px;
}

.right_area>a>span {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-left: 5px;
}

.right_area span:nth-child(2) {
    position: relative;
    float: right;
    height: 16px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    border-right: 2px solid #ddd;
}

.right_area span:nth-child(2) span {
    margin-left: 5px;
    color: #777;
    font-weight: normal;
}

.subject {
    position: relative;
    width: 820px;
    height: 50px;
}

.subject>div {
    float: left;
    width: 101.375px;
    height: 16px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 0;
    border: 1px solid #ddd;
    border-right: none;
}

.subject>div:nth-child(8) {
    color: #fff;
    background: #00aa44;
    padding: 17px 0;
    border: none;
}

.subject>div:last-child {
    border-right: 1px solid #ddd;
}

.leftbtn_small,
.rightbtn_small {
    position: absolute;
    top: 9px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.leftbtn_small {
    left: -17px;
}

.rightbtn_small {
    right: -17px;
}

.post {
    width: 820px;
    height: fit-content;
    text-align: left;
}

.post_health {
    width: 790px;
    height: 114px;
    padding-top: 20px;
}

.post_health:last-child {
    padding-bottom: 20px;
}

.post_health img {
    float: left;
    width: 170px;
    height: 100%;
}

.explanation {
    float: left;
    width: 570px;
    margin-left: 25px;
}

.explanation p {
    font-size: 14px;
    margin: 5px 0;
}

.explanation p:first-child {
    font-weight: bold;
}

.explanation:hover p:nth-child(2) {
    text-decoration: underline;
}

.explanation p:nth-child(3) {
    line-height: 20px;
}

.articlename {
    position: relative;
    color: #444;
    font-size: 12px;
}

.articlename::after {
    position: absolute;
    content: "";
    display: block;
    top: 8px;
    right: -7px;
    border: 1px solid #444;
    border-radius: 50%;
}

.postdate {
    color: #777;
    margin-left: 8px;
    font-size: 12px;
}

.post_health_ho1,
.post_health_ho2 {
    width: 820px;
    height: 202px;
    padding: 20px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-top: 20px;
}

.post_health_ho2 {
    border-bottom: 0;
}

.health_videolist li {
    float: left;
}

.health_videolist li+li {
    margin-left: 20px;
}

.health_videolist li:hover p {
    text-decoration: underline;
}

.thumbnail_wrap {
    position: relative;
    width: 260px;
    height: 130px;
}

.thumbnail_wrap img:first-child {
    width: 100%;
    height: 100%;
}

.thumbnail_wrap img:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.thumbnail_wrap span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
}

.health_videolist li p {
    width: 260px;
    line-height: 20px;
    font-size: 14px;
    padding: 8px 0;
}

.morebtn_area {
    position: relative;
    width: 820px;
    padding-top: 20px;
    margin-bottom: 100px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.morebtn_wrap {
    position: absolute;
    top: 5px;
    left: 355px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.morebtn {
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-weight: bold;
    color: #888;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px #ccc;
}

.morebtn_wrap span {
    display: inline-block;
    margin-top: 10px;
    color: #555;
}

/* aside 영역 */
aside {
    float: left;
    margin-left: 30px;
}

.loginbox {
    width: 298px;
    height: 109px;
    background-color: #bbddff11;
    padding: 17px 20px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.loginbox p {
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-align: left;
}

.loginbtn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #00cc66;
    margin-bottom: 15px;
}

.loginbtn span {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.loginbtn span:first-child {
    font-size: 20px;
}

.find_area {
    text-align: left;
    padding: 0 5px;
}

.find_area a span {
    font-size: 13px;
    color: #444;
}

.find_area a span:hover {
    text-decoration: underline;
}

.find_area a:first-child {
    position: relative;
    margin-right: 8px;
}

.find_area a:first-child::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    right: -4px;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.find_area a:nth-child(3) span {
    float: right;
}

.stockbox {
    width: 304px;
    height: 25px;
    line-height: 25px;
    padding: 12.5px 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    text-align: left;
    font-size: 13px;
}

.live {
    padding: 3px 7px;
    border: 1px solid #f00;
    border-radius: 40%;
    color: #f00;
}

.stockbox_text {
    margin-left: 5px;
}

.stockbox_text:hover {
    text-decoration: underline;
}

.stockbtn_wrap {
    float: right;
    width: 50px;
    height: 25px;
}

.stock_left {
    float: left;
    width: 23px;
    height: 23px;
    line-height: 20px;
    border: 1px solid #ddd;
    color: #aaa;
    font-weight: bold;
    text-align: center;
}

.stock_right {
    float: left;
    width: 23px;
    height: 23px;
    line-height: 20px;
    border: 1px solid #ddd;
    margin-left: -1px;
    color: #aaa;
    font-weight: bold;
    text-align: center;
}

.stock_left:hover,
.stock_right:hover {
    background: #ddd;
    color: #000;
}

.ad_side {
    width: 338px;
    height: 205px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.ad_side img {
    width: 100%;
    height: 100%;
}

/* 쇼핑 */
.shoppingmall_wrap {
    width: 340px;
    height: 16px;
    padding: 15px 0;
    text-align: left;
    font-size: 14px;
}

.shoppingmall_wrap a span:nth-child(2) {
    color: #777;
}

.shoppingbtn_wrap {
    float: right;
}

.shoppingbtn_wrap span {
    float: left;
    margin: 0 8px;
    cursor: pointer;
}

.shoppingbtn_wrap span:first-child {
    color: #00cc66;
    border-bottom: 2px solid #00cc66;
}

.shoppingbtn_wrap span:last-child {
    margin-right: 0;
}

.shoppingsite_wrap {
    width: 298px;
    height: 38px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 255, 0.02);
    font-size: 12px;
}

.shoppingsite_list1,
.shoppingsite_list2 {
    width: 298px;
    height: 17px;
}

.shoppingsite_list1 {
    margin-bottom: 7px;
}

.shoppingsite_list1 a {
    float: left;
    margin-right: 4px;
}

.shoppingsite_list2 a {
    position: relative;
    float: left;
}

.shoppingsite_list1 a:hover,
.shoppingsite_list2 a:hover {
    text-decoration: underline;
}

.dot {
    float: left;
    width: 2px;
    height: 2px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 5px 5px;
}

.shoppingsite_list1 a:last-child,
.shoppingsite_list2 a:last-child {
    margin-right: 0;
}

.shoppingsite_list1 a:last-child::after,
.shoppingsite_list2 a:last-child::after {
    display: none;
}

/* 상품 목록 */
.shopping_area {
    width: 318px;
    height: 1700px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.itemlist_wrap {
    width: 100%;
    height: 870px;
    border-bottom: 1px solid #ddd;
}

.itemlist_page1 {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

.itemlist_page1 span {
    font-size: 12px;
    font-weight: bold;
}

.itemlist_page1 span:nth-child(2) {
    color: #777;
}

.itemlist_left1,
.itemlist_right1 {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    color: #999;
    font-weight: bold;
    text-align: center;
}

.itemlist_left1 {
    margin-right: -7px;
}

.itemlist li {
    float: left;
    margin-right: 6px;
}

.itemlist li:nth-child(3n) {
    margin-right: 0;
}

.item_wrap {
    width: 102px;
    margin-bottom: 10px;
}

.item_wrap img {
    width: 100%;
    height: 150px;
}

.item_wrap p {
    line-height: 15px;
    font-size: 11px;
    text-align: center;
}

.itemlist_page2 {
    float: left;
    width: 100%;
    height: 50px;
    margin: 10px auto;
    text-align: center;
}

.itemlist_page2 span {
    font-size: 12px;
    font-weight: bold;
}

.itemlist_page2 span:nth-child(3) {
    color: #777;
}

.itemlist_left2,
.itemlist_right2 {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    color: #999;
    font-weight: bold;
    text-align: center;
}

.itemlist_left2 {
    margin-right: 10px;
}

.itemlist_right2 {
    margin-left: 10px;
}

/* 쇼핑뉴스 */
.shoppingnews_wrap {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
}

.shoppingnews_title_area {
    width: 100%;
    height: 30px;
    /* background-color: #f00; */
}

.shoppingnews_title {
    float: left;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.shoppingnews_page {
    float: right;
    width: fit-content;
    height: fit-content;
}

.shoppingnews_page span {
    font-size: 14px;
    font-weight: bold;
}

.shoppingnews_page span:nth-child(2) {
    color: #777;
}

.shoppingnews_list_area {
  margin-top: 10px;
  margin-bottom: 20px;
}

.shoppingnews_list li {
  padding: 9px 0;
  font-size: 12px;
}

.shoppingnews_list li a span:first-child {
  position: relative;
  margin-left: 20px;
}

.shoppingnews_list li a span:first-child::before {
  position: absolute;
  display: block;
  content: "";
  top: 6px;
  width: 1px;
  height: 1px;
  border: 2px solid #00aa44;
  border-radius: 50%;
}

.shoppingnews_list li a span:nth-child(2) {
  margin-left: 15px;
}

.shoppingnews_list li a:hover {
  text-decoration: underline;
}

.shopping_simple_area {
  margin-top: 20px;
  text-align: left;
}

.shopping_sub_wrap span {
  font-size: 14px;
}

.shopping_sub_wrap span + span {
  margin-left: 5px;
}

.focused {
  border-bottom: 2px solid #00aa44;
  color: #00aa44;
  font-weight: bold;
}

.shopping_sub_page {
  display: inline-block;
  margin-left: 12px;
}

.shopping_sub_page span {
  font-size: 12px;
  font-weight: bold;
}

.shopping_sub_page span:nth-child(2) {
  margin-left: 0;
  color: #777;
}

.shopping_simple_list li {
  float: left;
}

.shopping_simple_list li + li a div {
  margin-left: 5px;
}

.simple_list_item {
  width: 156px;
  height: 180px;
  margin-top: 10px;
}

.simple_list_item:hover p {
  text-decoration: underline;
}

.simple_list_item img {
  width: 154px;
  height: 154px;
  border: 1px solid #ddd;
}

.simple_list_item p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/* 푸터 영역 */
.footer_area {
  width: 100%;
  height: 500px;
  background: #eee;
  border-top: 2px solid #ddd;
}

.footer_banner_wrap {
  width: 1190px;
  height: 126px;
  margin: 30px auto 20px;
  border-bottom: 1px solid #ddd;
}

.footer_banner_list li a img {
  float: left;
  width: 180px;
  height: 96px;
}

.footer_banner_list li + li a img {
  margin-left: 70px;
}

.footer_banner_info {
  float: left;
  text-align: left;
  margin-left: 15px;
}

.footer_banner_info p:first-child {
  padding: 5px 0;
  font-size: 13px;
}

.footer_banner_info p:nth-child(2) {
  padding: 5px 0;
  font-size: 14px;
}

.footer_banner_info p:last-child {
  line-height: 20px;
  font-size: 13px;
  padding: 5px 0;
}

.notice {
  width: 1190px;
  height: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  text-align: left;
}

.notice > a > span:hover {
  text-decoration: underline;
}

.notice a:first-child span {
  float: left;
  line-height: 20px;
  font-size: 12px;
  margin-right: 10px;
}

.notice a:nth-child(2) span {
  float: left;
  line-height: 20px;
  color: #777;
  font-size: 12px;
}

.allservice {
  float: right;
}

.allservice:hover span:first-child {
  text-decoration: underline;
}

.allservice span:first-child {
  font-size: 12px;
}

.allservice span:nth-child(2) {
  font-size: 16px;
  color: #555;
}

.partner_box_area {
  width: 1190px;
  margin: 0 auto;
  height: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.partner_box_wrap {
  float: left;
}

.partner_box_wrap > div + div {
  margin-top: 15px;
}

.partner_box {
  font-size: 12px;
  text-align: left;
}

.partner_box p {
  display: inline-block;
  width: 90px;
}

.partner_box a + a {
  position: relative;
  margin-left: 20px;
}

.partner_box a + a::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: -12px;
  height: 14px;
  border: 1px solid #ddd;
}

.partner_box a:first-child + a::before {
  display: none;
}

.partner_box a span {
  color: #777;
}

.partner_box a span:hover {
  text-decoration: underline;
}

.partner_box a:first-child span {
  display: inline-block;
  width: 90px;
}

.service_box_wrap {
  float: right;
}

.service_box_wrap > div {
  margin-right: 50px;
}

.service_box {
  float: left;
  font-size: 12px;
  text-align: left;
}

.service_box_info {
  float: left;
}

.service_box_info p {
  margin: 5px 0;
}

.service_box_info a span {
  color: #777;
}

.service_box_info a span:hover {
  text-decoration: underline;
}

.service_box img {
  float: right;
  width: 49px;
  height: 49px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-left: 10px;
}

.corp_area {
  width: 1190px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: left;
}

.corp_area a span {
  color: #777;
  font-size: 12px;
}

.corp_area a span:hover {
  text-decoration: underline;
}

.corp_area a + a {
  position: relative;
  margin-left: 20px;
}

.corp_area a:nth-child(9) {
  margin-left: 10px;
}

.corp_area a + a::before {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  left: -12px;
  height: 14px;
  border: 1px solid #ddd;
}

.corp_area a:nth-child(5) {
  font-weight: bold;
}

.corp_area a:nth-child(8) + a::before {
  display: none;
}

.corp_area a:nth-child(9) span {
  color: #000;
  font-weight: bold;
}

.darkmode_btn {
  position: fixed;
  bottom: 30px;
  right: 80px;
  width: 120px;
  padding: 12px 7px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 1px 1px 3px #ccc;
  background-color: #fff;
}

.darkmode_btn p {
  color: #444;
  font-size: 13px;
  font-weight: bold;
}

.darkmode_btn:hover {
  background-color: #444;
}

.darkmode_btn:hover p {
  color: #fff;
}

.top_btn {
  position: fixed;
  bottom: 30px;
  right: 35px;
  width: 37px;
  height: 20px;
  padding: 9px 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #ccc;
  background-color: #fff;
}

.top_btn p {
  color: #444;
  font-size: 19px;
  font-weight: bold;
}

.top_btn:hover {
  background-color: #00aa44;
}

.top_btn:hover p {
  color: #fff;
}
